span{
    float: left;
}
button:focus {

    outline: none;

}
.c1{
    margin-right: 10%;
    margin-left: 10%;

}
.dpui-numberPicker-decrease{
    padding: 0px;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    background-color: gainsboro;
    height:35px;
    width: 25px;

}
.dpui-numberPicker-increase{
    padding: 0px;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    background-color: gainsboro;
    height:35px;
    width: 25px;
}
.dpui-numberPicker-input:focus{
    outline:none;
}
.dpui-numberPicker-input{
    padding: 0px;
    border:0px;
    height:35px;
    width:100px;
}
